.mt15 {
    margin-top: 15px;
}

// 导航部分
 .el-breadcrumb {
     background-color: rgb(158, 159, 246);
     height: 50px;
     line-height: 50px;
     color: #fff;
     padding-left: 10px;
     margin-bottom: 10px;
 }